* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.displayBlock {
  display: block;
}

.post__list {
  width: 100%;
  padding: 20px;
}

.user {
  padding: 20px;
  border: 1px solid orange;
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

.w100 {
  width: 100%;
}

.post {
  padding: 20px;
  border: 1px solid teal;
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.displayFlex {
  display: flex;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}
.ml-2 {
  margin-left: 2rem;
}
.textCenter {
  text-align: center;
}
